/* ----- Variables ----- */

:root {
	/* Primary Colors */
	--clr-veryDarkGrayBlue: hsl(217, 19%, 35%);
	--clr-desaturatedDarkBlue: hsl(214, 17%, 51%);
	--clr-grayishBlue: hsl(212, 23%, 69%);
	--clr-lightGrayBlue: hsl(210, 46%, 95%);

	/* Neutral Colors */
	--clr-shadow: hsla(210, 29%, 84%, 0.5034);
	--clr-white: hsl(0, 0%, 100%);

	/* Font Family */
	--ff-manrope: 'Manrope', sans-serif;

	/* Font Size */
	--fs-title-sm: 1rem;
	--fs-title-lg: 1.25rem;
	--fs-header: 0.8125rem;
	--fs-paragraph: 0.8125rem;

	/* Font Weight */
	--fw-medium: 500;
	--fw-bold: 700;
}

/* ----- Reset ----- */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove Default Spacing */
* {
	margin: 0;
	padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.2;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* ----- Component Styles ----- */

body {
	background-color: var(--clr-lightGrayBlue);
	font-family: var(--ff-manrope);
	font-optical-sizing: auto;
	font-style: normal;
}

main,
section {
	height: 100vh;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 327px;
	background-color: var(--clr-white);
	border-radius: 10px;
	box-shadow: 0 40px 40px -10px var(--clr-shadow);
}

.articleImage {
	border-radius: 10px 10px 0 0;
}

.cardContent {
	padding: 2.25rem 2rem 1.25rem;

	h1 {
		margin-bottom: 0.75rem;
		font-size: var(--fs-title-sm);
		font-weight: var(--fw-bold);
		line-height: 1.5;
		letter-spacing: 0.2px;
		color: var(--clr-veryDarkGrayBlue);
	}

	p {
		font-size: var(--fs-paragraph);
		font-weight: var(--fw-medium);
		line-height: 1.54;
		letter-spacing: 0.12px;
		color: var(--clr-desaturatedDarkBlue);
	}
}

.authorWrapper {
	padding: 0.75rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0 0 10px 10px;

	.authorBlock {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		img {
			border-radius: 50%;
		}

		.author {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;

			h2 {
				font-size: var(--fs-header);
				font-weight: var(--fw-bold);
				line-height: 1.54;
				letter-spacing: 0.12px;
				color: var(--clr-veryDarkGrayBlue);
			}

			p {
				font-size: var(--fs-header);
				font-weight: var(--fw-medium);
				line-height: 1.54;
				letter-spacing: 0.12px;
				color: var(--clr-grayishBlue);
			}
		}
	}
}

/* Share Icon */
.share {
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--clr-lightGrayBlue);
	cursor: pointer;
}

.shareWrapper {
	padding: 0.75rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--clr-veryDarkGrayBlue);
	border-radius: 0 0 10px 10px;

	.shareBlock {
		display: flex;
		align-items: center;
		gap: 1.3125rem;
		z-index: 1;

		p {
			font-size: var(--fs-paragraph);
			font-weight: var(--fw-medium);
			line-height: 1.54;
			letter-spacing: 5px;
			color: var(--clr-grayishBlue);
			text-transform: uppercase;
		}

		.socialLinks {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
		}
	}
}

.iconActive {
	background-color: var(--clr-desaturatedDarkBlue);

	svg path {
		fill: var(--clr-white);
	}
}

.inactiveShare {
	display: none;
}

/* ----- Media Queries ----- */

@media (min-width: 794px) {
	.card {
		width: 730px;
		display: flex;
		position: relative;
	}

	.articleImage {
		height: 280px;
		width: 285px;
		object-fit: cover;
		object-position: left;
		border-radius: 10px 0 0 10px;
	}

	.cardContent {
		padding: 2rem 2.5rem 1.25rem;

		h1 {
			font-size: var(--fs-title-lg);
			line-height: 1.4;
			letter-spacing: 0.25px;
		}
	}

	.authorWrapper {
		padding: 0 2.5rem 2rem;
	}

	.shareWrapper {
		padding: 1.125rem 2.25rem;
		position: absolute;
		top: 45%;
		right: -9.1%;
		border-radius: 10px;
		box-shadow: 0 10px 10px var(--clr-shadow);

		&::after {
			content: '';
			height: 24px;
			width: 24px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateY(50%);
			rotate: 45deg;
			background-color: var(--clr-veryDarkGrayBlue);
		}

		.share {
			display: none;
		}

		.socialLinks img {
			cursor: pointer;
		}
	}
}

@media (max-width: 793px) {
	.inactiveAuthor {
		display: none;
	}
}
