/* ----- Variables ----- */

:root {
	/* Primary Colors */
	--veryDarkGrayBlue: hsl(217, 19%, 35%);
	--desaturatedDarkBlue: hsl(214, 17%, 51%);
	--grayishBlue: hsl(212, 23%, 69%);
	--lightGrayBlue: hsl(210, 46%, 95%);

	/* Neutral Colors */
	--shadow: hsla(210, 29%, 84%, 0.5034);
	--white: hsl(0, 0%, 100%);

	/* Font Family */
	--manrope: 'Manrope', sans-serif;

	/* Font Size */
	--fs-title: clamp(1rem, 0.912rem + 0.3756vi, 1.25rem);
	--fs-header: 0.8125rem;
	--fs-paragraph: 0.8125rem;

	/* Font Weight */
	--fw-medium: 500;
	--fw-bold: 700;
}

/* ----- Reset ----- */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove Default Spacing */
* {
	margin: 0;
	padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.2;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* ----- Component Styles ----- */

body {
	background-color: var(--lightGrayBlue);
	font-family: var(--manrope);
	font-optical-sizing: auto;
	font-style: normal;
}

main,
section {
	height: 100vh;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 327px;
	background-color: var(--white);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 40px 40px -10px var(--shadow);
}

.cardContent {
	padding: 2.25rem 2rem 1.25rem;

	h1 {
		margin-bottom: 0.75rem;
		font-size: var(--fs-title);
		font-weight: var(--fw-bold);
		line-height: 1.5;
		letter-spacing: 0.2px;
		color: var(--veryDarkGrayBlue);
	}

	p {
		font-size: var(--fs-paragraph);
		font-weight: var(--fw-medium);
		line-height: 1.54;
		letter-spacing: 0.12px;
		color: var(--desaturatedDarkBlue);
	}
}

.authorWrapper {
	padding: 0.75rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.authorBlock {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		img {
			border-radius: 50%;
		}

		.author {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;

			h2 {
				font-size: var(--fs-header);
				font-weight: var(--fw-bold);
				line-height: 1.54;
				letter-spacing: 0.12px;
				color: var(--veryDarkGrayBlue);
			}

			p {
				font-size: var(--fs-header);
				font-weight: var(--fw-medium);
				line-height: 1.54;
				letter-spacing: 0.12px;
				color: var(--grayishBlue);
			}
		}
	}
}

.share {
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--lightGrayBlue);
}

.shareWrapper {
	padding: 0.75rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--veryDarkGrayBlue);

	.shareBlock {
		display: flex;
		align-items: center;
		gap: 1.3125rem;

		p {
			font-size: var(--fs-paragraph);
			font-weight: var(--fw-medium);
			line-height: 1.54;
			letter-spacing: 5px;
			color: var(--grayishBlue);
			text-transform: uppercase;
		}

		.socialLinks {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
		}
	}

	.iconActive {
		background-color: var(--desaturatedDarkBlue);

		svg path {
			fill: var(--white);
		}
	}
}

.inactive {
	display: none;
}
